venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.git/
.gitignore

logs/
data/

images/
images_mmd_generation/
System_Diagrams_Presentation.pdf
*.png
*.jpg
*.jpeg
*.svg
*.pdf
*.xlsx

Code_Module_Responsibility.png
Code_Module_Responsibility.svg
Conversation_Flow_Presentation.png
Conversation_Flow_Presentation.svg
Current_FSM_Flow.png
Current_FSM_Flow.svg
Current_Model_Architecture.png
Current_Model_Architecture.svg
