
DATABASE_PROVIDER=mysql
DATABASE_CONNECTION_URI=mysql://doctor:Doctor%2312345@103.205.140.228:3306/evolution_db
DATABASE_SAVE_DATA_NEW_MESSAGE=false
DATABASE_SAVE_MESSAGE_UPDATE=false
DATABASE_SAVE_DATA_LABELS=false
DATABASE_SAVE_DATA_HISTORIC=false
DATABASE_SAVE_DATA_CONTACTS=true
DATABASE_SAVE_DATA_CHATS=true
DATABASE_SAVE_DATA_INSTANCE=true

#DATABASE_CONNECTION_URI=mysql+mysqlconnector://doctor:Doctor%2312345@103.205.140.228:3306/evolution_db


DATABASE_CONNECTION_CLIENT_NAME=evolution_exchange


AUTHENTICATION_TYPE=apikey
AUTHENTICATION_API_KEY=doctor_api_key_12345
EVOLUTION_API_MANAGER_URL=http://message-bot-evolution-api:8080


DOCTER_EVOLUTION_API_BASE_URL=https://daptoservices.vinfocom.co.in/whatsapp/web

WEBHOOK_GLOBAL_ENABLED=false
WEBHOOK_GLOBAL_WEBHOOK_BY_EVENTS=false
WEBHOOK_EVENTS_QRCODE_UPDATED=true
WEBHOOK_EVENTS_CONNECTION_UPDATE=true
WEBHOOK_EVENTS_MESSAGES_UPSERT=true
WEBHOOK_EVENTS_MESSAGES_UPDATE=true
WEBHOOK_EVENTS_SEND_MESSAGE=true
STORE_MESSAGES=true

CACHE_REDIS_ENABLED=false
CACHE_REDIS_URI=redis://host.docker.internal:6379/6


EVOLUTION_MANUAL_KEEP_RUNNING=1

EVOLUTION_SESSION_WINDOW_SECONDS=21600


Evolution_Instance_Name=Doctor_db
evolution_instance_token=627FC24DC1CC-40CF-B9AA-F1DA287793B9
