.env
venv/

__pycache__/
data/

logs/
*.log
*.pyc
*.pyo   
images/
images/*
images_mmd_generation/
images_mmd_generation/*

tests/testdata/
tests/reports/
tests/load/

System_Diagrams_presentation.pdf


.env.example
.env
env_file_copy.txt




.venv310/
__pycache__/
*.pyc
.pytest_cache/
logs/
.env


# audio test artifacts
tests/artifacts/
*.wav